  # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.VENV/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.cache/

# Unit test / coverage reports
*.cover
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.codecov

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright type checker
pyrightconfig.json

# Profiles
*.profile

# Logs and debug files
*.log
*.out
*.err

# Environment variables
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.bak

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Other backups and temporary files
*.tmp
*.temp
*.old
*.backup
~$*
