/* app .css */

.App {
  position: relative;
  font-family: Arial, sans-serif;
}

.mainbody {
  display: flex;
  flex-direction: column;
  /* margin: 0px 20px; */
}

.bodysection {
  display: flex;
  align-content: center;
  justify-content: center;
}

.titlesection {
  text-align: center;
  display: block;
}

.bodysection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  min-height: 300px;
}

.output {
  width: 50vw;
  border: 1px solid gray;
  .toolbar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
  }

  .output-section-body {
    padding: 10px;
  }

  .output-box {
    width: 80%;
    min-height: 100px;
    background-color: #555;
  }
}

.input {
  width: 48vw;
  border: 1px solid gray;
  height: inherit;

  .toolbar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
  }

  .fileinput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .fileinput-tag {
      display: none;
    }
    .upload-btn {
      margin-top: -80px;
      display: inline-block;
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }
    .upload-btn:hover {
      opacity: 0.8;
    }
  }
}

.toolbar {
  /* position: sticky;   */
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  height: 50px;
  display: flex;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.toolbar-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  color: #333;
}

.toolbar-button.active {
  color: #007bff; /* Active state color */
}

.toolbar-button:hover {
  color: #555;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.black-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
}

.scrollable-image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100%; /* Start with 100% height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Place on top of all content */
  pointer-events: none; /* Make it unclickable */
}

.copyright-container {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0; /* Subtle border for separation */
}

.copyright-text {
  font-size: 14px;
  color: #555; /* Gray color for text */
  margin: 0;
  font-family: Arial, sans-serif;
}

.copyright-text a {
  color: #007bff; /* Link color */
  text-decoration: none;
}

.copyright-text a:hover {
  text-decoration: underline; /* Underline on hover */
}
